

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.main{
    width: 100%;
    height: 100%;
    align-content: center;
}

.login {
    position: relative;
    width: 450px;
    height: 300px;
    box-shadow: 0 0 15px 6px rgba(0,0,0,.1);

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ag{position: fixed;
    z-index: 999;
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

iframe{
    width: 400px;
    height: 300px;
    margin-top: 100px;
    padding: 0;
    border: 0;
}

input{
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Open Sans',Arial,sans-serif;
    color: #fffecc;
    background-color: #48f442;
    border-style: groove;
    border-color: #f3f3f3;
}



.top{
    width: 100%;
    height: 100px;
}
.mid{
    width:100%;
    height:500px;
}
.ml{
    width:40%;
    height:500px;
    float:left;
}
.mm{
    width:460px;
    height:460px;
    background-color:#a35f20;
    float: left;
}
.tl{
    float: left;
    height: 100px;
    width: 100px;
}
.tr{
    float:right;
    height:100px;
    width:100px;
    cursor: pointer;
}
.score{
    width:100%;
    height:300px;
    display:inline-block;
}
.mscore{
    left:0%; 
    width:50%; 
    height:100%;
    position: relative;
    display: inline-block;
    background: #bbada0;
    padding: 15px 25px;
    font-size: 25px;
    height: 25px;
    line-height: 47px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    margin-top: 8px;
    text-align: center;
}
.res{
    width:100%;
    height:50px;
}
